APP_NAME=NAME_APP_HERE
APP_CLIENT=NAME_CLIENT_HERE

NUXT_PUBLIC_RECAPTCHA_SITE_KEY=YOUR_SITE_KEY

DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD

MAIL_USER="your_email@gmail.com"
MAIL_PASS="your_gmail_app_password"

CLIENT_ID="your_google_oauth_client_id"
CLIENT_SECRET="your_google_oauth_client_secret"

RECAPTCHA_SITE_KEY="your_recaptcha_site_key"
RECAPTCHA_SECRET_KEY="your_recaptcha_secret_key"